.complex-approach {
  background-color: #fffbf3;
  padding: 40px 0 0 0;
  // .complex-approach__container

  &__container {
  }

  // .complex-approach__body

  &__body {
  }

  // .complex-approach__title

  &__title {
    margin-bottom: 6px;
  }

  // .complex-approach__subtitle

  &__subtitle {
    margin-bottom: 30px;
  }

  // .complex-approach__content

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
  }

  // .complex-approach__img

  &__img {
    position: relative;
  }

  // .complex-approach__list

  &__list {
  }

  // .complex-approach__item

  &__item {
    position: absolute;
    max-width: 350px;

    &:nth-child(1) {
      bottom: 100px;
      left: 0;
    }
    &:nth-child(2) {
      bottom: 330px;
      left: -36px;
    }
    &:nth-child(3) {
      bottom: 560px;
      left: 70px;
    }
    &:nth-child(4) {
      bottom: 560px;
      right: 115px;
    }
    &:nth-child(5) {
      bottom: 330px;
      right: -36px;
    }
    &:nth-child(6) {
      bottom: 100px;
      right: 0;
    }
  }

  // .complex-approach__item-title

  &__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: math.div(26, 24);

    border-left: 3px solid #71bceb;
    padding: 0px 0 0px 15px;
    margin: 0 0 10px -20px;
  }

  // .complex-approach__item-desc

  &__item-desc {
    line-height: math.div(21, 18);
  }
}
