.contact {
  // .contact__top

  &__top {
    color: #fafbfc;
    text-transform: uppercase;

    background-color: rgba(113, 127, 235, 0.7);
    padding: 46px 0;
  }

  // .contact__top-title

  &__top-title {
    font-size: 64px;
    font-weight: 700;

    margin-bottom: 20px;

    @media (max-width: $tablet) {
      font-size: 50px;
    }
    @media (max-width: $mobile) {
      font-size: 40px;
    }
    @media (max-width: $mobileBig) {
      font-size: 24px;
    }
  }

  // .contact__top-subtitle

  &__top-subtitle {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: $mobileBig) {
      font-size: 16px;
    }
  }

  // .contact__container

  &__container {
  }

  // .contact__body

  &__body {
    display: flex;
    column-gap: 26px;

    box-shadow: 0px 15px 40px 0px #0000001a;
    border-radius: 0 0 20px 20px;

    @media (max-width: $tablet) {
      column-gap: 14px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0 auto 0 auto;
    }
    @media (max-width: $mobileBig) {
      width: 100%;
      box-shadow: unset;
      border-radius: unset;
    }
  }

  // .contact__col-form

  &__col-form {
    width: 40%;
    padding: 0 0 40px 60px;

    @media (max-width: $pc) {
      padding: 0 0 20px 20px;
    }
    @media (max-width: $tablet) {
      width: 46%;
      padding: 0 0 10px 10px;
    }
    @media (max-width: $mobile) {
      width: 100%;
      padding: 0 10px 10px 10px;
    }
  }

  // .contact__title

  &__title {
    font-size: 50px;
    color: $mainColorThree;
    text-align: left;
    text-transform: uppercase;

    margin: 50px 0px 60px 0px;

    @media (max-width: $pc) {
      font-size: 44px;
    }
    @media (max-width: $tablet) {
      font-size: 40px;
    }
    @media (max-width: $mobile) {
      font-size: 34px;
      margin: 20px 0px 20px 0px;
    }
    @media (max-width: $mobileBig) {
      font-size: 24px;
    }
  }

  // .contact__form

  &__form {
  }

  // .contact__col-img

  &__col-img {
    width: 60%;
    border-radius: 0 0 20px 0;
    overflow: hidden;

    @media (max-width: $tablet) {
      width: 54%;
    }
    @media (max-width: $mobile) {
      display: none;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.contact-form {
  // .contact-form__row-top

  &__row-top {
  }

  // .contact-form__input-group

  &__input-group {
  }

  // .contact-form__input

  &__input {
    width: 100%;
    border: unset;
    border-radius: unset;
    border-bottom: 2px solid;
    background-position: 2px 50%;
    padding: 14px 25px 10px 30px;

    margin-bottom: 10px;
    &.input-name {
      background-position: -2px 50%;
      padding: 14px 25px 10px 32px;
    }
    &:focus {
    }

    @media (max-width: $mobileBig) {
      padding: 14px 14px 8px 30px;
    }
  }

  // .contact-form__row-bottom

  &__row-bottom {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  // .contact-form__button

  &__button {
    font-size: 20px;

    margin-top: 50px;
    padding: 14px 38px;

    @media (max-width: $mobileBig) {
      display: flex;
      margin: 18px auto 0 auto;
    }
  }

  // .contact-form__input-checkbox

  &__input-checkbox {
  }

  // .contact-form__label-checkbox

  &__label-checkbox {
    column-gap: 10px;
  }
}
