.main {
  background-color: #fff;
  overflow: hidden;
  padding: 40px 0 0px 0;

  // .main__container

  &__container {
  }

  // .main__body

  &__body {
    display: flex;
    column-gap: 50px;

    @media (max-width: $tablet) {
      column-gap: unset;
    }
  }

  // .main__col-left

  &__col-left {
    font-size: 20px;
    font-weight: 500;
    color: $mainColor;
    position: relative;
    z-index: 1;

    @media (max-width: $mobile) {
      width: 100%;

      font-size: 18px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 16px;
    }
  }

  // .main__breadcrumbs

  &__breadcrumbs {
    margin-bottom: 20px;
  }

  // .main__title

  &__title {
    margin-bottom: 40px;

    font-size: 40px;

    @media (max-width: $tablet) {
      font-size: 36px;
    }
    @media (max-width: $mobile) {
      font-size: 30px;

      margin-bottom: 20px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 24px;
    }
  }

  // .main__subtitle

  &__subtitle {
    margin-bottom: 30px;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  // .main__benefits

  &__benefits {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .main__benefit

  &__benefit {
  }

  // .main__buttons-wrap

  &__buttons-wrap {
    display: flex;
    column-gap: 30px;
    margin-top: 40px;

    @media (max-width: $mobileSmall) {
      justify-content: space-between;
      column-gap: 10px;
      row-gap: 10px;
      flex-wrap: wrap;
    }
  }
  // .main__buttons
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 10px 16px;
    border: 2px solid $mainColorElem;
    border-radius: 10px;
    @media (min-width: $tablet) {
      &:hover {
        border: 2px solid #a071eb;
        outline: unset;
        transition: all 0.1s ease-in-out;
      }
    }
    @media (max-width: $tablet) {
      &:active {
        border: 2px solid $mainColorElem;
        outline: unset;
        transition: all 0.1s ease-in-out;
      }
    }

    @media (max-width: $mobileSmall) {
      padding: 6px 12px;
      font-size: 14px;
    }

    & svg {
      max-width: 28px;
      max-height: 35px;

      @media (max-width: $mobileSmall) {
        max-width: 20px;
        max-height: 30px;
      }

      @media (max-width: $mobileSmall) {
        max-width: 14px;
        max-height: 26px;
      }
    }

    & span {
      white-space: nowrap;
    }
  }

  // .main__buttons-doc

  &__buttons-doc {
  }

  // .main__buttons-calc

  &__buttons-calc {
  }

  // .main__col-right

  &__col-right {
    position: relative;
    width: 600px;
    z-index: 0;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .main__img-wrap

  &__img-wrap {
    // position: absolute;
    // top: 0;
    // right: 0;
    @media (max-width: $pc) {
      transform: translateX(-100px);
    }
    @media (max-width: $tablet) {
      transform: translateX(-130px);
    }
  }

  // .main__row-body

  &__row-body {
  }
}
