.photos {
  // .photos__container

  &__container {
  }

  // .photos__aside

  &__aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 70px;
    background-color: $mainColorElem;
    border-radius: 20px;

    padding: 25px 90px;
    margin-bottom: 40px;
  }

  // .photos__aside-item

  &__aside-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;

    color: #fafbfc;
  }

  // .photos__aside-heading

  &__aside-heading {
    margin-bottom: 14px;

    font-size: 52px;
    font-weight: 700;
  }

  // .photos__aside-text

  &__aside-text {
  }

  // .photos__body

  &__body {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;

    @media (max-width: $tablet) {
      column-gap: 10px;
      align-items: center;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  // .photos__col-text

  &__col-text {
    width: 50%;
    margin-bottom: 40px;

    @media (max-width: $mobile) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  // .photos__title

  &__title {
    text-align: left;
    margin-bottom: 40px;

    @media (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  // .photos__text

  &__text {
    margin-bottom: 40px;

    @media (max-width: $tablet) {
      font-size: 14px;

      margin-bottom: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  // .photos__button

  &__button {
  }

  // .photos__col-img

  &__col-img {
    width: 50%;

    @media (max-width: $mobile) {
      width: 70%;
    }

    @media (max-width: $mobileBig) {
      width: 100%;
    }
  }

  // .photos__img-wrap

  &__img-wrap {
  }

  // .photos__img-slide

  &__img-slide {
    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  // .photos__navigation

  &__navigation {
    margin: 30px 0;
    padding: 0 13px 0 0;

    @media (max-width: $mobileBig) {
      margin: 20px 0;
    }
  }

  // .photos__button

  &__button {
    @media (max-width: $mobile) {
      display: flex;
      margin: 0 0 0 auto;
      border-radius: 10px;
      padding: 10px 30px;
    }
  }

  // .photos__button-prev

  &__button-prev {
  }

  // .photos__button-next

  &__button-next {
  }

  // .photos__thumb

  &__thumb {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .photos__thumb-wrap

  &__thumb-wrap {
  }

  // .photos__thumb-slide

  &__thumb-slide {
    cursor: pointer;
    max-height: 218px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
