.promotions {
  // .promotions__container

  &__container {
  }

  // .promotions__body

  &__body {
  }

  // .promotions__title

  &__title {
  }

  // .promotions__content

  &__content {
  }

  // .promotions__navigation

  &__navigation {
  }

  // .promotions__button

  &__button {
  }

  // .promotions__button-prev

  &__button-prev {
  }

  // .promotions__button-next

  &__button-next {
  }

  // .promotions__content-wrapper

  &__content-wrapper {
  }

  // .promotions__slide

  &__slide {
  }

  // .promotions__slide-ribbon

  &__slide-ribbon {
  }

  // .promotions__slide-price

  &__slide-price {
  }

  // .promotions__slide-content

  &__slide-content {
  }

  // .promotions__slide-name

  &__slide-name {
  }

  // .promotions__slide-desc

  &__slide-desc {
  }

  // .promotions__slide-button

  &__slide-button {
  }
}
.swiper {
}
.navigation {
}
.swiper-button {
  width: 38px;
  height: 38px;
  background: $maincolorElem;
  border-radius: 50%;
  svg {
    width: 38px;
    height: 38px;
  }
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-wrapper {
}
.swiper-slide {
}
.button {
}
