.services {
  background-color: #edeffa;

  // .services__container

  &__container {
  }

  // .services__title

  &__title {
    text-align: left;
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 10px;
    }
  }

  // .services__body

  &__body {
    display: flex;
    column-gap: 20px;

    @media (max-width: $mobile) {
      column-gap: unset;
    }
    @media (max-width: $mobileBig) {
      flex-direction: column-reverse;
    }
  }

  // .services__col-text

  &__col-text {
    width: 60%;
    padding: 30px 26px;
    border: 2px solid rgba(109, 110, 118, 0.1);
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px #0000001a;
    background-color: #fff;

    @media (max-width: $mobile) {
      width: 100%;
      border: unset;
      border-radius: unset;
      box-shadow: unset;
      padding: 20px 10px 20px 2px;
      background-color: unset;
    }
  }

  // .services__img

  &__img {
    margin-bottom: 20px;
    max-height: 350px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      border: 3px solid #71bceb;
      border-radius: 20px;
      bottom: 8px;
      left: 8px;
    }
    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    @media (max-width: $mobileBig) {
      display: none;
    }
  }

  // .services__content

  &__content {
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  // .services__content-item

  &__content-item {
    @media (max-width: $mobile) {
      margin: 10px 0;
    }
  }

  // .services__heading

  &__heading {
    font-size: 32px;
    font-weight: 700;
    line-height: math.div(48, 32);

    margin-bottom: 20px;

    @media (max-width: $mobile) {
      line-height: math.div(38, 32);
      font-size: 26px;
    }

    @media (max-width: $mobileBig) {
      font-size: 24px;
    }
  }

  // .services__text

  &__text {
    font-weight: 500;
    line-height: math.div(28, 18);
    color: $mainColorTwo;

    margin-bottom: 20px;

    @media (max-width: $tablet) {
      font-size: 16px;
    }
    @media (max-width: $mobileBig) {
      margin-bottom: 14px;
    }
  }

  // .services__button
  &__button {
    @media (max-width: $mobile) {
      display: flex;
      margin: 0 0 0 auto;
    }

    @media (max-width: $mobileBig) {
      display: flex;
      margin-left: auto;
    }
  }

  // .services__col-contents

  &__col-contents {
    width: 40%;
    height: 100%;
    //  border: 2px solid rgba(109, 110, 118, 0.1);
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobileBig) {
      width: 100%;
    }
  }

  // .services__tab

  &__tab {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 60px 0 60px 30px;
    border: 2px solid rgba(109, 110, 118, 0.1);
    background-color: #fff;

    &:not(:last-child) {
      border-bottom: none;
    }
    &._tab-active {
      color: #fff;
      background-color: rgba(113, 127, 235, 0.5);
      border: 2px solid rgba(113, 127, 235, 0.1);

      & .services__slogan {
        color: $mainColor;
      }
    }

    @media (max-width: $tablet) {
      padding: 30px 0 30px 16px;
    }
  }
  // .services__headline

  &__headline {
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 10px;

    @media (max-width: $mobile) {
      font-size: 38px;
    }
    @media (max-width: $mobileBig) {
      font-size: 32px;
    }
  }

  // .services__slogan

  &__slogan {
    font-size: 16px;
    font-weight: 500;
    color: $mainColorThree;
    line-height: math.div(20, 16);
  }
}
