// Заголовки, общие БЄМ блоки и проче...

section {
  padding: 40px 0;
}

.title {
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: math.div(45, 36);
}
.subtitle {
  font-size: 26px;
  line-height: math.div(32, 26);
  color: $mainColorThree;
  text-align: center;
}
.breadcrumbs {
  font-size: 14px;
  line-height: math.div(16, 14);
  color: $mainColorTwo;
}
.block-text {
  font-weight: 500;
  line-height: math.div(28, 18);
  color: $mainColorTwo;
}
// swiper

.swiper-navigation {
  display: flex;
  justify-content: end;
  column-gap: 20px;
}
.swiper-button {
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  background: $mainColorElem;
  border-radius: 50%;
  svg {
    padding: 8px;
    display: block;
    width: 38px;
    height: 38px;

    fill: #fff;
  }
}
.swiper-button-prev {
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $mainColor;
    transform: scale(1.6);
    transition: all 0.2s ease-in-out;
  }
}
.swiper-button-next {
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $mainColor;
    transform: scale(1.6);
    transition: all 0.2s ease-in-out;
  }
  & svg {
    transform: rotate(180deg);
  }
}

.form-input {
  padding: 14px 25px 14px 60px;
  border: 2px solid $mainColorElem;
  border-radius: 50px;

  font-weight: 700;
  color: $mainColorTwo;

  transition: all 0.3s;

  &:focus {
    &::placeholder {
      transition: all 0.3s;
      opacity: 0;
    }
  }
}
.input-name {
  background: url("@img/placeholder-name.svg") no-repeat;
  background-size: 30px 30px;
  background-position: 20px 50%;
}
.input-tel {
  background: url("@img/placeholder-phone.svg") no-repeat;
  background-size: 20px 20px;
  background-position: 20px 50%;
}
.input-desc {
  background: url("@img/placeholder-desc.svg") no-repeat;
  background-size: 20px 20px;
  background-position: 20px 50%;
}