// Заголовки, общие БЄМ блоки и проче...
main.page {
  margin-top: 194px;

  @media (max-width: $tablet) {
    margin-top: 170px;
  }
  @media (max-width: $mobile) {
    margin-top: 100px;
  }
  @media (max-width: $mobileSmall) {
    margin-top: 60px;
  }
}
a {
  cursor: pointer;
}
.logo {
  max-width: 260px;
  max-height: 90px;
  display: block;

  & img {
    width: 100%;
    height: 100%;

    @media (max-width: $mobile) {
      width: 140px;
    }
  }

  @media (max-width: $mobile) {
    max-width: unset;
    max-height: unset;
    flex: 0 0 40px;
    overflow: hidden;
  }
}
section {
  padding: 40px 0;

  @media (max-width: $mobile) {
    padding: 30px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 20px 0;
  }
}
.title {
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: math.div(45, 36);

  @media (max-width: $mobile) {
    font-size: 30px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 24px;
  }
}
.subtitle {
  font-size: 26px;
  line-height: math.div(32, 26);
  color: $mainColorThree;
  text-align: center;

  @media (max-width: $mobile) {
    font-size: 20px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 16px;
  }
}
.breadcrumbs {
  font-size: 14px;
  line-height: math.div(16, 14);
  color: $mainColorTwo;

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}
.block-text {
  font-weight: 500;
  line-height: math.div(28, 18);
  color: $mainColorTwo;

  @media (max-width: $tablet) {
    font-size: 16px;
  }

  @media (max-width: $mobile) {
    & p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &.disclosed {
      & p {
        display: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        overflow: unset;
      }
    }
  }

  // .block-text__button

  &__button {
    font-size: 16px;
    font-weight: 700;
    color: $mainColorElem;

    display: none;
    padding: 8px 10px;
    margin: 8px 0 0 auto;
    border: 1px solid #717feb;
    border-radius: 10px;

    @media (max-width: $mobile) {
      display: flex;
    }
  }
}

input[type="submit"] {
  cursor: pointer;
}
.button {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: math.div(28, 24);
  white-space: nowrap;

  background-color: $mainColorElem;
  border-radius: 150px;
  padding: 16px 28px;

  @media (max-width: $tablet) {
    font-size: 20px;

    padding: 16px 16px;
  }

  @media (max-width: $mobile) {
    font-size: 18px;

    padding: 12px 12px;
  }
}
// swiper

.swiper-navigation {
  display: flex;
  justify-content: end;
  column-gap: 20px;
  padding: 13px 13px 0 0;
  margin-bottom: 30px;
}
.swiper-button {
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  background: $mainColorElem;
  border-radius: 50%;
  svg {
    padding: 8px;
    display: block;
    width: 38px;
    height: 38px;

    fill: #fff;
  }
}
.swiper-button-prev {
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $mainColor;
    transform: scale(1.6);
    transition: all 0.2s ease-in-out;
  }
}
.swiper-button-next {
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $mainColor;
    transform: scale(1.6);
    transition: all 0.2s ease-in-out;
  }
  & svg {
    transform: rotate(180deg);
  }
}

.form-input {
  padding: 14px 25px 14px 60px;
  border: 2px solid $mainColorElem;
  border-radius: 50px;

  font-weight: 700;
  color: $mainColorTwo;
  outline: none;

  transition: all 0.3s;

  &:focus {
    &::placeholder {
      transition: all 0.3s;
      opacity: 0;
    }
  }
}
.input-name {
  background: url("@img/placeholder-name.svg") no-repeat;
  background-size: 30px 30px;
  background-position: 20px 50%;
}
.input-tel {
  background: url("@img/placeholder-phone.svg") no-repeat;
  background-size: 20px 20px;
  background-position: 20px 50%;
}
.input-desc {
  background: url("@img/placeholder-desc.svg") no-repeat;
  background-size: 20px 20px;
  background-position: 20px 50%;
}

.input-checkbox {
  position: absolute;
  opacity: 0;
  width: 18px;
  height: 18px;
  flex-shrink: 0;

  &:checked + .label-checkbox::before {
    border-color: $mainColorElem;
    background-color: #a071eb;
    background-image: url("@img/icon-checkbox.svg");
    background-size: 90%;
  }
  &:disabled + .label-checkbox::before {
    background-color: #e9ecef;
  }
}
.label-checkbox {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;

  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid $mainColorElem;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    flex-shrink: 0;
  }
}
