//====================================================================================================
.footer {
  background-color: rgba(113, 127, 235, 0.3);
  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 20px 0;

    @media (max-width: $mobile) {
      align-items: center;
      row-gap: 20px;
    }
  }

  // .footer__row-logo

  &__row-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    flex: unset !important;
  }

  // .footer__logo

  &__logo {
    flex: 1 1 auto;

    & img {
      width: unset;
    }

    @media (max-width: $mobile) {
      flex: unset;
      & img {
        width: 100%;
      }
    }

    @media (max-width: $mobileBig) {
      display: none;
    }
  }

  // .footer__address

  &__address {
  }

  // .footer__address-desc

  &__address-desc {
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;

    margin-bottom: 8px;
  }

  // .footer__address-content

  &__address-content {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 20px;
    font-weight: 500;
    line-height: math.div(22, 20);
    white-space: nowrap;

    @media (max-width: $mobileBig) {
      white-space: unset;
      font-size: 16px;
    }

    &::before {
      content: "";
      background-image: url("../img/icon-location_black.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 28px;
      transition: all 0.2s ease-in;
    }

    &:hover {
      &::before {
        background-size: 90%;
        transition: all 0.2s ease-in;
      }
    }
  }

  // .footer__row-menu

  &__row-menu {
    display: flex;
    column-gap: 10px;

    @media (max-width: $tablet) {
      justify-content: space-between;
    }

    @media (max-width: $mobile) {
      width: 100%;
      margin: 0 auto 0 auto;
    }
  }

  // .footer__map

  &__map {
    height: 140px;
    border-radius: 20px;
    overflow: hidden;
    flex-basis: 390px;
    flex-shrink: 1;

    @media (max-width: $mobile) {
      flex-basis: auto;
      width: 70%;
      height: 200px;
      margin: 0 auto 0 auto;
    }
    @media (max-width: $mobileBig) {
      width: 100%;
      height: 150px;
    }
  }

  // .footer__qr

  &__qr {
  }

  // .footer__qr-img

  &__qr-img {
  }

  // .footer__qr-text

  &__qr-text {
  }

  // .footer__menu

  &__menu {
  }

  // .footer__menu-list

  &__menu-list {
    display: flex;
    column-gap: 45px;

    font-size: 14px;
    font-weight: 500;
    line-height: math.div(22, 14);
    text-transform: uppercase;
    margin-left: 10px;

    @media (max-width: $pc) {
      column-gap: 30px;
    }
    @media (max-width: $tablet) {
      margin-left: unset;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .footer__menu-item

  &__menu-item {
  }

  // .footer__menu-link

  &__menu-link {
  }

  // .footer__submenu-list

  &__submenu-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  // .footer__submenu-item

  &__submenu-item {
    opacity: 0.5;
    transition: all 0.1s ease-in-out;

    &:hover {
      opacity: 1;
      transition: all 0.1s ease-in-out;
    }
  }

  // .footer__submenu-link

  &__submenu-link {
  }

  // .footer__row-socials

  &__row-socials {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 8px;

    font-size: 16px;

    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 10px;
      max-width: unset;
      width: 100%;
      font-size: 20px;
    }
  }

  // .footer__socials-item

  &__socials-item {
    display: flex;
    align-items: center;
    column-gap: 16px;

    & a {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }

  // .footer__row-text

  &__row-text {
    display: flex;
    flex-direction: column;
    border-top: 2px solid;
    padding-top: 40px;

    @media (max-width: $mobile) {
      padding-top: 10px;
    }
    @media (max-width: $mobileBig) {
      border-top: unset;
      padding: unset;
    }
  }

  // .footer__payment

  &__payment {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 12px;

    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 20px;
    }
    & iframe {
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  // .footer__payment-text

  &__payment-text {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $mobileBig) {
      font-size: 20px;
    }
  }

  // .footer__payment-img

  &__payment-img {
    display: flex;
    column-gap: 14px;
  }

  // .footer__payment-img-wrap

  &__payment-img-wrap {
    max-width: 62px;
    max-height: 40px;
    flex-shrink: 0;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  // iframe
  & iframe {
    margin-left: auto;
  }

  // .footer__license

  &__license {
    display: flex;
    align-items: end;
  }

  // .footer__license-list

  &__license-list {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  // .footer__license-item

  &__license-item {
    &:nth-child(1) {
      font-size: 14px;
    }
    &:nth-child(2) {
      font-size: 12px;
    }
  }

  // .footer__license-text

  &__license-text {
  }
  // .footer__license-link

  &__license-link {
    font-size: 12px;
    font-weight: 500;

    transition: all 0.1s ease-in;
    @media (min-width: $mobile) {
      &:hover {
        color: $mainColorElem;
        transition: all 0.1s ease-in;
      }
    }
    @media (max-width: $mobile) {
      &:active {
        color: $mainColorElem;
        transition: all 0.1s ease-in;
      }
    }

    @media (max-width: $mobileSmall) {
      font-size: 14px;
    }
  }

  // .footer__license-button

  &__license-button {
    font-weight: 500;

    transition: all 0.1s ease-in;

    &:hover {
      color: $mainColorElem;
      transition: all 0.1s ease-in;
    }
  }
}

.socials-other {
}
.socials {
  // .socials__link
  &__link {
    background-repeat: no-repeat;
    background-size: 100%;

    @media (max-width: $mobileSmall) {
      background-size: 100%;
    }
  }
  // .socials__link-tel

  &__link-tel {
    &::before {
      content: "";
      background-image: url(@img/placeholder-phone.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 18px;
      height: 18px;

      @media (max-width: $mobileSmall) {
        width: 22px;
        height: 22px;
      }
    }
  }

  // .socials__link-whatsapp

  &__link-whatsapp {
    color: #2cc21f;

    &::before {
      content: "";
      background-image: url(@img/icon-whatsapp.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 18px;
      height: 18px;

      @media (max-width: $mobileSmall) {
        width: 22px;
        height: 22px;
      }
    }
  }
  // .socials__link-inst

  &__link-inst {
    &::before {
      content: "";
      background-image: url(@img/icon-inst.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 18px;
      height: 18px;

      @media (max-width: $mobileSmall) {
        width: 22px;
        height: 22px;
      }
    }
  }
  // .socials__link-vk

  &__link-vk {
    background-image: url(@img/icon-vk.svg);
    width: 20px;
    height: 12px;

    @media (max-width: $mobileSmall) {
      width: 28px;
      height: 18px;
    }
  }
  // .socials__link-tw

  &__link-tw {
    background-image: url(@img/icon-tw.svg);
    width: 19px;
    height: 16px;

    @media (max-width: $mobileSmall) {
      width: 25px;
      height: 22px;
    }
  }
  // .socials__link-fb

  &__link-fb {
    background-image: url(@img/icon-fb.svg);
    width: 18px;
    height: 18px;

    @media (max-width: $mobileSmall) {
      width: 21px;
      height: 21px;
    }
  }
}
.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 8px;
  margin-right: auto;
  height: 140px;
  flex-shrink: 0;

  @media (max-width: $tablet) {
    display: none;
  }

  // .qr__img

  &__img {
    padding: 8px;
    background-color: #fff;
    border-radius: 10px;

    margin-bottom: 10px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  // .qr__text

  &__text {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
  }
}
//====================================================================================================
