//====================================================================================================

.header {
  position: fixed;
  width: 100%;
  background-color: #eceffa;
  z-index: 10;

  padding: 0 0 10px 0;

  // .header__location

  &__location {
    & span {
      display: flex;
      align-items: center;
      column-gap: 8px;
      &::before {
        content: "";
        background-image: url("@img/icon-location.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        width: 20px;
        height: 30px;

        @media (max-width: $tablet) {
          width: 18px;
          height: 24px;
        }
        @media (max-width: $mobile) {
          width: 16px;
          height: 20px;
        }
      }
      @media (min-width: $mobile) {
        &:hover {
          &::before {
            background-size: 90%;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }

  // .header__schedule

  &__schedule {
    & span {
      display: flex;
      align-items: center;
      column-gap: 8px;

      font-weight: 500;
      &::before {
        content: "";
        background-image: url(@img/icon-schedule.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 30px;
        height: 30px;
        @media (max-width: $tablet) {
          width: 24px;
          height: 24px;
        }
        @media (max-width: $mobile) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  // .header__container

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  // .header__row-top

  &__row-top {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 20px;

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
    @media (max-width: $mobile) {
      column-gap: 10px;
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
  }

  // .header__messengers

  &__messengers {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: auto;

    @media (max-width: $mobile) {
      margin-left: unset;
    }
  }

  // .header__messengers-phone

  &__messengers-phone {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 24px;
    font-weight: 700;
    line-height: math.div(39, 32);
    color: #000;
    white-space: nowrap;

    @media (max-width: $tablet) {
      font-size: 24px;
    }

    @media (max-width: $mobile) {
      font-size: 22px;
      column-gap: 4px;
    }

    & svg {
      max-height: 33px;
      max-width: 33px;

      @media (max-width: $tablet) {
        max-height: 28px;
        max-width: 28px;
      }
      @media (max-width: $mobile) {
        max-height: 24px;
        max-width: 24px;
      }
    }
  }

  // .header__messengers-whatsapp

  &__messengers-whatsapp {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 24px;
    font-weight: 500;
    line-height: math.div(28, 24);
    color: #2cc21f;
    white-space: nowrap;

    @media (max-width: $tablet) {
      font-size: 22px;
    }

    @media (max-width: $mobile) {
      display: none;
    }

    & svg {
      max-height: 28px;
      max-width: 30px;
      fill: #2cc21f;

      @media (max-width: $tablet) {
        max-height: 26px;
        max-width: 24px;
      }
    }
  }

  // .header__button

  &__button {
    @media (max-width: $mobileBig) {
      display: none;
    }
  }

  // .header__row-bottom

  &__row-bottom {
  }

  // .header__nav

  &__nav {
    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      padding: 36px 30px 16px 16px;
      background-color: $mainColorElem;

      color: #fff;
      transform: translateX(-1000px);
      transition: all 0.4s ease-in;
    }
  }

  // .header__list

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 18px;

    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;

    @media (max-width: $pc) {
      font-size: 18px;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  // .header__item

  &__item {
    & a {
      position: relative;
      white-space: nowrap;
      padding: 0 0 1px 0;
      transition: all 0.1s ease-in-out;

      @media (min-width: $tablet) {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: $mainColorElem;
          top: 100%;
          left: 0;
          pointer-events: none;
          transform-origin: 100% 50%;
          transform: scale3d(0, 1, 1);
          transition: transform 0.5s;
          border-radius: 50%;
        }

        &:hover {
          color: $mainColorElem;
          transition: all 0.1s ease-in-out;

          &::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
          }
        }
      }
    }
  }
  // .header__item-pc

  &__item-pc {
    @media (max-width: $pc) {
      display: none;
    }
  }
  // .header__item-tablet

  &__item-tablet {
    display: none;

    @media (max-width: $pc) {
      display: block;
    }
  }
}
.header-top {
  background-color: $mainColorElem;
  padding: 8px 0;

  @media (max-width: $mobileSmall) {
    display: none;
  }

  // .header-top__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    font-size: 22px;
    font-weight: 500;
    color: #fafbfc;

    @media (max-width: $tablet) {
      font-size: 16px;
    }
    @media (max-width: $mobile) {
      font-size: 12px;
    }
  }
}
.logo {
}
.messengers-phone {
}
.messengers-whatsapp {
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(24);
    height: rem(20);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: $mainColorElem;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
.menu-open .header__nav {
  transform: translate(0);
  transition: all 0.5s ease-in;
}
